

/* Header */

.intro-header {
    background-color: #563d7c
}

.intro-header h1 {
    color: white;
    font-weight: bold;
}

.search input {
    padding: 22px 10px;
}


.select-box-container {
    opacity: 1;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.transparency {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


/* Body */


main {
    margin-bottom: 80px;
}

.loading {
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #999;
    letter-spacing: 1px;
}

.search-reuslts {
    padding-top: 30px;
}


/* Footer */

footer {
    padding-top: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
    border-top: solid 1px #eee;
}



/* Utilities */

.padding-20 { padding-bottom: 20px; }
.padding-25 { padding-bottom: 25px; }
.padding-30 { padding-bottom: 30px; }
